nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo img {
  width: 50%;
}
.logo {
  margin-left: 60px;
}
.elements {
  margin-right: 60px;
  width: 50%;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.elements ul li {
  list-style: none;
}
.hov li:hover {
  color: #ff5b00;
}
.link {
  text-decoration: none;
}
.login:hover {
  background-color: #ff5b00;
  color: white;
}

.login {
  background-color: transparent;
  color: black;
  border: 1px solid #ff5b00;
}
#check {
  display: none;
}
.checkbtn {
  display: none;
  padding: 12px;
}
.res-btn{
    margin: 0px 16px;
}

/* mobile responsive  */
@media only screen and (max-width: 576px) {
  nav {
    height: 50px;
  }
  .logo img {
    width: 50%;
  }
  .logo {
    margin-left: 10px;
    width: max-content;
  }
  .res-btn{
    margin: 33px 22px;
    display: block;
}
.all-button-com{
  display: flex;
  justify-content: center;
}
  .checkbtn {
    display: block;
    cursor: pointer;
  }
  #check {
    display: none;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
    top: 50px;
    z-index: 1000;
    left: -100%;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .elements {
    margin-right: 10px;
  }
  .elements ul li {
    color: white;
    text-align: center;
    margin-top: 33px;
  }
  #check:checked ~ .elements ul {
    left: 0;
  }
  .butt{
    color: white;
  }
}


