.regievent-container{
    display: flex;
    justify-content: space-around;
}
.ori{
    width: 220px;
}
.logohere img{
    width: 108px;
}
.component{
    background-color: rgb(247, 253, 255);
    width: 60%;
    padding: 16px;
}
